<div class="body-style">
<h1>Create Account</h1>
  <%= form_for(@user) do |f| %>
    <%= f.text_field :name, placeholder: "name" %><br>
    <%= f.text_field :username, placeholder: "username" %><br>
    <%= f.text_field :email, placeholder: "email" %><br>
    <%= f.password_field :password, placeholder: "password"%><br>
    <%= f.text_field :location, placeholder: "location (optional)" %><br>
    <%= f.submit "Create Account"%>
  <% end %>
</div>
