<h1>Hello <%= @user.name %></h1>

<%= @user.location %>

<%= form_for(@user) do |f| %>
  <%= f.attachinary_file_field :avatar %><br>
  <%= f.submit "Upload Photo" %>
<% end %><br>

<% if @user.avatar? %>
    <%= cl_image_tag(@user.avatar.path, { size: '200x200',
                                          crop: :thumb,
                                       gravity: :face,
                                        radius: :max }) %>
<% end %>
