<!DOCTYPE html>
<html>
<head>
  <title>Thirteen23</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= cloudinary_js_config %>
  <link href='//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Oleo+Script:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <%= render partial: 'layouts/nav' %>
  
  <% flash.each do |name, message| %>
    <%= message %>
  <% end %>

<%= yield %>

</body>
</html>
